//
// Variables
// --------------------------------------------------

//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $dark-grey !default;

//** Global textual link color.
$link-color:            $red !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//** Horizontal line color.
$hr-border:                   $lighter-grey !default;
