//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus();
}

// Adjust output element
output {
  display: block;
  padding-top: ($padding-base-vertical + 1);
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  @include placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // [converter] extracted textarea& to textarea.form-control
}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
}


// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}


// Special styles for iOS date input
//
// In Mobile Safari, date inputs require a pixel line-height that matches the
// given height of the input.

input[type="date"] {
  line-height: $input-height-base;
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  margin-bottom: 15px;
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
  display: block;
  min-height: $line-height-computed; // clear the floating input if there is no label text
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  label {
    display: inline;
    font-weight: normal;
    cursor: pointer;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}

// Apply same disabled cursor tweak as for inputs
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"],
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}


// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.

@include input-size('.input-sm', $input-height-small, $padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);

@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);


// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

// .has-feedback {
//   // Enable absolute positioning
//   position: relative;

//   // Ensure icons don't overlap text
//   .form-control {
//     padding-right: ($input-height-base * 1.25);
//   }

//   // Feedback icon (requires .glyphicon classes)
//   .form-control-feedback {
//     position: absolute;
//     top: ($line-height-computed + 5); // Height of the `label` and its margin
//     right: 0;
//     display: block;
//     width: $input-height-base;
//     height: $input-height-base;
//     line-height: $input-height-base;
//     text-align: center;
//   }
// }

// Feedback states
// .has-success {
//   @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
// }
// .has-warning {
//   @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
// }
// .has-error {
//   @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
// }


// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  margin-bottom: 0; // Remove default margin from `p`
}


// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten($text-color, 25%); // lighten the text some for contrast
}



// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

// .form-inline {

//   // Kick in the inline
//   @media (min-width: $screen-sm-min) {
//     // Inline-block all the things for "inline"
//     .form-group {
//       display: inline-block;
//       margin-bottom: 0;
//       vertical-align: middle;
//     }

//     // In navbar-form, allow folks to *not* use `.form-group`
//     .form-control {
//       display: inline-block;
//       width: auto; // Prevent labels from stacking above inputs in `.form-group`
//       vertical-align: middle;
//     }
//     // Input groups need that 100% width though
//     .input-group > .form-control {
//       width: 100%;
//     }

//     .control-label {
//       margin-bottom: 0;
//       vertical-align: middle;
//     }

//     // Remove default margin on radios/checkboxes that were used for stacking, and
//     // then undo the floating of radios and checkboxes to match (which also avoids
//     // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
//     .radio,
//     .checkbox {
//       display: inline-block;
//       margin-top: 0;
//       margin-bottom: 0;
//       padding-left: 0;
//       vertical-align: middle;
//     }
//     .radio input[type="radio"],
//     .checkbox input[type="checkbox"] {
//       float: none;
//       margin-left: 0;
//     }

//     // Validation states
//     //
//     // Reposition the icon because it's now within a grid column and columns have
//     // `position: relative;` on them. Also accounts for the grid gutter padding.
//     .has-feedback .form-control-feedback {
//       top: 0;
//     }
//   }
// }


// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

// .form-horizontal {

//   // Consistent vertical alignment of labels, radios, and checkboxes
//   .control-label,
//   .radio,
//   .checkbox,
//   .radio-inline,
//   .checkbox-inline {
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-top: ($padding-base-vertical + 1); // Default padding plus a border
//   }
//   // Account for padding we're adding to ensure the alignment and of help text
//   // and other content below items
//   .radio,
//   .checkbox {
//     min-height: ($line-height-computed + ($padding-base-vertical + 1));
//   }

//   // Make form groups behave like rows
//   .form-group {
//     @include make-row();
//   }

//   .form-control-static {
//     padding-top: ($padding-base-vertical + 1);
//   }

//   // Only right align form labels here when the columns stop stacking
//   @media (min-width: $screen-sm-min) {
//     .control-label {
//       text-align: right;
//     }
//   }

//   // Validation states
//   //
//   // Reposition the icon because it's now within a grid column and columns have
//   // `position: relative;` on them. Also accounts for the grid gutter padding.
//   .has-feedback .form-control-feedback {
//     top: 0;
//     right: ($grid-gutter-width / 2);
//   }
// }

/* MARKETO FORMS */
/*doc
---
title: Forms
name: forms
category: basics
---

### Marketo forms

Wrap the Marketo embed code in `.marketo-form` with an optional class for the number of form columns. To leverage the dropdown styles shown here, you must also use the Fancy Select library and call the `.fancySelect()` method on the form.

```html_example
<!-- sample marketo embed code
<script src="//app-sjg.marketo.com/js/forms2/js/forms2.min.js"></script>
  <form id="mktoForm_35"></form>
<script>MktoForms2.loadForm("//app-sjg.marketo.com", "702-MYH-396", 35);</script>
-->

<div class="marketo-form form--2-col">
  <!--begin code returned from marketo...-->
  <form id="mktoForm_35" novalidate="novalidate" class="mktoForm mktoHasWidth mktoLayoutLeft" style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: rgb(51, 51, 51); width: 541px;"> <div class="mktoFormRow"> <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;"> <div class="mktoOffset" style="width: 10px;"> </div><div class="mktoFieldWrap mktoRequiredField"> <label for="FirstName" class="mktoLabel mktoHasWidth" style="width: 100px;"> <div class="mktoAsterix"> * </div>First Name </label> <div class="mktoGutter mktoHasWidth" style="width: 10px;"> </div><input id="FirstName" name="FirstName" placeholder="" maxlength="255" title="First Name*" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px; cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;"> <div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;"> <div class="mktoOffset" style="width: 10px;"> </div><div class="mktoFieldWrap mktoRequiredField"> <label for="LastName" class="mktoLabel mktoHasWidth" style="width: 100px;"> <div class="mktoAsterix"> * </div>Last Name </label> <div class="mktoGutter mktoHasWidth" style="width: 10px;"> </div><input id="LastName" name="LastName" placeholder="" maxlength="255" title="Last Name*" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px;"> <div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoFormRow"> <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;"> <div class="mktoOffset" style="width: 10px;"> </div><div class="mktoFieldWrap mktoRequiredField"> <label for="Email" class="mktoLabel mktoHasWidth" style="width: 100px;"> <div class="mktoAsterix"> * </div>Business Email Address </label> <div class="mktoGutter mktoHasWidth" style="width: 10px;"> </div><input id="Email" name="Email" placeholder="" maxlength="255" title="Business Email Address*" type="email" class="mktoField mktoEmailField mktoHasWidth mktoRequired" style="width: 150px;"> <div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;"> <div class="mktoOffset" style="width: 10px;"> </div><div class="mktoFieldWrap mktoRequiredField"> <label for="Phone" class="mktoLabel mktoHasWidth" style="width: 100px;"> <div class="mktoAsterix"> * </div>Phone Number </label> <div class="mktoGutter mktoHasWidth" style="width: 10px;"> </div><input id="Phone" name="Phone" placeholder="" maxlength="255" title="Phone Number*" type="tel" class="mktoField mktoTelField mktoHasWidth mktoRequired" style="width: 150px;"> <div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoFormRow"> <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;"> <div class="mktoOffset" style="width: 10px;"> </div><div class="mktoFieldWrap mktoRequiredField"> <label for="Company" class="mktoLabel mktoHasWidth" style="width: 100px;"> <div class="mktoAsterix"> * </div>Company </label> <div class="mktoGutter mktoHasWidth" style="width: 10px;"> </div><input id="Company" name="Company" placeholder="" maxlength="255" title="Company*" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px;"> <div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;"> <div class="mktoOffset" style="width: 10px;"> </div><div class="mktoFieldWrap mktoRequiredField"> <label for="Job_Function__c" class="mktoLabel mktoHasWidth" style="width: 100px;"> <div class="mktoAsterix"> * </div>Job Function </label> <div class="mktoGutter mktoHasWidth" style="width: 10px;"> </div><div class="fancy-select"> <select id="Job_Function__c" name="Job_Function__c" class="mktoField mktoHasWidth mktoRequired fancy-select fancified" style="width: 1px; height: 1px; display: block; position: absolute; top: 0px; left: 0px; opacity: 0;"> <option value=""> Select... </option> <option value="President / CEO"> President / CEO </option> <option value="Marketing - VP / CMO"> Marketing - VP / CMO </option> <option value="Marketing - Manager"> Marketing - Manager </option> </select> <div class="trigger"> Select... </div><ul class="options"> <li data-raw-value="President / CEO"> President / CEO </li><li data-raw-value="Marketing - VP / CMO"> Marketing - VP / CMO </li><li data-raw-value="Marketing - Manager"> Marketing - Manager </li></ul> </div><div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoFormRow"> <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;"> <div class="mktoOffset" style="width: 10px;"> </div><div class="mktoFieldWrap mktoRequiredField"> <label for="Online_Revenue__c" class="mktoLabel mktoHasWidth" style="width: 100px;"> <div class="mktoAsterix"> * </div>Online Revenue </label> <div class="mktoGutter mktoHasWidth" style="width: 10px;"> </div><div class="fancy-select"> <select id="Online_Revenue__c" name="Online_Revenue__c" class="mktoField mktoHasWidth mktoRequired fancy-select fancified" style="width: 1px; height: 1px; display: block; position: absolute; top: 0px; left: 0px; opacity: 0;"> <option value=""> Select... </option> <option value="Less than $1M"> Less than $1M </option> <option value="$1M - $5M"> $1M - $5M </option> <option value="$5M - $10M"> $5M - $10M </option> </select> <div class="trigger"> Select... </div><ul class="options"> <li data-raw-value="Less than $1M"> Less than $1M </li><li data-raw-value="$1M - $5M"> $1M - $5M </li><li data-raw-value="$5M - $10M"> $5M - $10M </li></ul> </div><div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoClear"> </div></div><div class="mktoFormRow"> <input type="hidden" name="Business_type__c" class="mktoField mktoFieldDescriptor mktoFormCol" value="mozu" placeholder="" style="margin-bottom: 10px;"> <div class="mktoClear"> </div></div><div class="mktoFormRow"> <input type="hidden" name="LeadSource" class="mktoField mktoFieldDescriptor mktoFormCol" value="Mozu - Request demo webform" placeholder="" style="margin-bottom: 10px;"> <div class="mktoClear"> </div></div><div class="mktoFormRow"> <input type="hidden" name="Demo_Requested__c" class="mktoField mktoFieldDescriptor mktoFormCol" value="Yes" placeholder="" style="margin-bottom: 10px;"> <div class="mktoClear"> </div></div><div class="mktoFormRow"> <input type="hidden" name="Inquiry_type__c" class="mktoField mktoFieldDescriptor mktoFormCol" value="Sales" placeholder="" style="margin-bottom: 10px;"> <div class="mktoClear"> </div></div><div class="mktoFormRow"> <input type="hidden" name="InternalUseMunchkinId__c" class="mktoField mktoFieldDescriptor mktoFormCol" value="id:702-MYH-396&amp;token:_mch-mozu.com-1438726296298-60876" placeholder="" style="margin-bottom: 10px;"> <div class="mktoClear"> </div></div><div class="mktoButtonRow"> <span class="mktoButtonWrap mktoSimple" style="margin-left: 17px;"> <button type="submit" class="mktoButton"> Request a demo </button> </span> </div><input type="hidden" name="formid" class="mktoField mktoFieldDescriptor" value="35" placeholder=""> <input type="hidden" name="munchkinId" class="mktoField mktoFieldDescriptor" value="702-MYH-396" placeholder=""></form>
  <!--end code returned from marketo...-->
</div>

```
*/

//global .marketo-form styles
.marketo-form {
  border: 1px solid $grey;
  padding: 44px 40px 40px;
  margin-bottom: 40px;

  .errormessage {
    display: none !important;
  }
  .mktoForm {
    label.mktoLabel,
    .mktoRequiredField label.mktoLabel {
      color: $dark-grey;
      font-size: 14px;
      font-weight: bold;
      padding-top: .3em;
      padding-bottom: .3em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 100%!important;
      &:after {
        content:'*';
        margin-left: 2px;
        color: $red;
      }
      .mktoAsterix {
        display: none;
      }
    }
    .mktoRadioList,
    .mktoCheckboxList {
      label {
        font-weight: normal;
      }
    }
    input[type=text],
    input[type=url],
    input[type=email],
    input[type=tel],
    input[type=number],
    input[type=date],
    textarea.mktoField {
      box-shadow: none!important;
      border: 1px solid #cecece;
      color: $dark-grey;
      font-size: 15px;
      font-weight: 200;
      padding: 15px 52px 15px 15px;
      margin-right: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      line-height: 18px;
      margin: 0;
      height: auto;
      &.mktoInvalid {
        border-color: #DF3018;
      }
      &.mktoValid {
        background-image: url(/sites/all/themes/mozu_aurora/images/icon-checkmark.png)!important;
        background-position: 94% 50%!important;
        background-repeat: no-repeat;
      }
    }
    input[type=text]:focus,
    input[type=url]:focus,
    input[type=email]:focus,
    input[type=tel]:focus,
    input[type=number]:focus,
    input[type=date]:focus,
    textarea.mktoField:focus {
      box-shadow: none!important;
      border-color: #a8a8a8;
      outline: 0;
      background-color: #f3f3f3;
    }
    select.mktoField {
      border: 1px solid #cecece;
    }
    select.mktoField:focus {
      border-color: $grey;
    }
    /* error message */
    .mktoError {
      width: 100%;
      right: 0!important;
      .mktoErrorArrow {
        background-color: rgba(223,48,24,.9);
        border: 1px solid rgba(223,48,24,.9);
        border-right: none;
        border-bottom: none;
        display: inline-block;
        height: 16px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        width: 16px;
        margin-top: 5px;
      }
      .mktoErrorMsg {
        display: block;
        margin-top: 7px;
        background-image: none;
        // -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        // -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        // box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
        color: #fff;
        font-size: 1em;
        line-height: 1.2em;
        padding: .4em .6em;
        text-shadow: none;
        width: 100%;
        max-width: none;
        background-color: rgba(223,48,24,.85);
        border: 1px solid rgba(223,48,24,.85);
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
    }
    .mktoButtonRow,
    .mktoTemplateBox {
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      margin-top: 37px;
      .mktoButtonWrap {
        width: 100%;
        margin-left: 0!important;
        &.mktoSimple {
          margin: 0 auto !important;
        }
        button.mktoButton {
          @extend %btn;
          @extend %btn-red;
          border: transparent;
          display: block!important;
          margin: 0 auto;
          line-height: 1;
          padding: 16px 56px;
          background: $red;
          &:hover,
          &:active,
          &:focus,
          &:visited {
            border:1px solid transparent;
          }
        }
      }
    }
    .mktoTemplateBox {
      margin-top: 0;
      p {
        text-align: center;
      }
    }
    //linkedin widget (without modifier wrap)
    div.cf_widget {
      display:block;
      a {
        color: $red;
      }
    }
    .cf_widget div.cf_sign_on_caption {
      display:none;
    }
    .cf_widget_socialsignon {
     position:relative;
     padding-bottom:15px !important;
     margin-bottom:25px !important;
     border-bottom:1px solid #cfcfcf;
     &:after {
       content:"";
       width:22px;
       height:22px;
       background:url("images/or.jpg") bottom center no-repeat;
       position:absolute;
       bottom:-11px;
       left:50%;
     }
     .cf_sign_on {
      background: transparent;
      border: none;
      width: 100%;
      padding: 0;
      height: 40px;
      margin-bottom: 2em;
     }
     .cf_sign_on_button {
       background:none;
       border:0;
       border-radius:0;
       float:none;
       position:absolute;
       width:100%;
       height:100%;
       z-index:1;
       text-indent:-9999px;
       padding:0;
       @media all and (max-width:480px) {
        width: 100%;
       }
       .cf_synd_icon_li_sm {
          background: url("images/linkedin-autofill.png") center center no-repeat;
          height: 52px;
          width: 100%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          background-size: contain;
       }
     }
    }
    //logged in state
    .cf_widget_socialsignon {
      .cf_switch_user .cf_avatar {
        margin-top: 0;
        margin-right: 10px;
      }
      .cf_user_switcher {
        padding-top: 10px;
      }
    }
    //returning user state
    a.mktoNotYou {
      color: $red;
      display: block;
      margin-top: 20px;
    }
  }/* .mktoForm */

  //form variants
  &.form--linkedin {
    border:none;
    padding: 0;
  }

}/* .marketo-form */

/* Base options */
.form-no-label label.mktoLabel {
  display: none !important;
}
.form-no-label label[for=Company_Role__c].mktoLabel {
  display: block !important;
  margin-bottom: 2px;
}
.ie9 .form-no-label label.mktoLabel {
  display: block !important;
}
.ie9 .form-no-label label.mktoLabel .mktoAsterix{
  display: none !important;
}
.ie9 .form-no-label label.mktoLabel .placeholder {
  display: block !important;
  top:24px!important;
}

/* fancy select menus */
div.fancy-select {
  position: relative;
  font-size: 15px;
  color: #727779;
}

div.fancy-select.disabled {
  opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
  // box-shadow: 0 0 0 2px #727779;
  border-color: #A8A8A8;
}

div.fancy-select select:focus + div.trigger.open {
  box-shadow: none;
}

div.fancy-select div.trigger {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  background: #ffffff;
  width: 100%;
  box-shadow: none;
  border: 1px solid #cecece;
  font-weight: 200;
  line-height: 1.2;
  padding: 15px;
  margin-right: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  clear:both;

  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #727779;
  top: 20px;
  right: 9px;
}

div.fancy-select div.trigger.open {
  background: #ffffff;
  border: 1px solid #A8A8A8;
  color: $grey;
  box-shadow: none;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

div.fancy-select div.trigger.open:after {
  border-top-color: $light-grey;
}

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  min-width: 200px;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 95%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  max-height: 250px;
  overflow: auto;
  background: #fff;
  border: 1px solid #A8A8A8;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
  visibility: visible;
  top: 95%;
  opacity: 1;
  border-top: none;

  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 49px;

  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 49px;
  border-bottom: none;
  border-top:1px solid #A8A8A8;

  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
  padding: 5px 12px;
  color: $dark-grey;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
  background: $lighter-grey;
  color: $dark-grey;
}

div.fancy-select ul.options li.hover {
  color: $dark-grey;
  background-color: #f3f3f3;
}
/* 1 column marketo form */
.form--1-col {
  .mktoGutter.mktoHasWidth, .mktoOffset {
    display: none !important;
  }
  .mktoForm {
    &.mktoHasWidth.mktoLayoutLeft {
      width: 100% !important;
    }
    .mktoLabel.mktoHasWidth {
      width: 100%!important;
    }
    input {
      &[type="text"],
      &[type="url"],
      &[type="email"],
      &[type="tel"],
      &[type="number"],
      &[type="date"] {
        width: 100% !important;
      }
    }
    textarea.mktoField, select.mktoField {
      width: 100% !important;
    }
    .mktoFormCol {
      float: none;
      margin-bottom: 1em!important;
    }
    .mktoFieldWrap {
      float: none;
    }
    .mktoButtonRow,
    .mktoTemplateBox {
      .mktoButtonWrap {
        button.mktoButton {
          width: 100%;
          max-width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

/* 2 column marketo form */
.form--2-col .mktoForm {
  width: 100%!important;
  margin: 0 auto 0;
  .mktoFormRow {
    .mktoFormCol {
      width: 48%;
      margin-right: 1%;
      margin-left: 1%;
      margin-bottom: 13px!important;
      float: left;
      .mktoOffset {
        height: 0;
      }
      .mktoFieldWrap {
        float:none;
        width: 100%;
        .mktoLabel.mktoHasWidth {
          width: 100%!important;
        }
        .mktoGutter {
          display: none;
        }
        .mktoField {
          width: 100%!important;
        }
      }
    }
  }
}

/* 2 column marketo form */
.form--3-col .mktoForm {
  width: 100%!important;
  margin: 0 auto 2em;
  .mktoFormRow {
    .mktoFormCol {
      width: 31%;
      margin-right: 1%;
      margin-left: 1%;
      margin-bottom: 13px!important;
      float: left;
      .mktoOffset {
        height: 0;
      }
      .mktoFieldWrap {
        float:none;
        width: 100%;
        .mktoLabel.mktoHasWidth {
          width: 100%!important;
        }
        .mktoGutter {
          display: none;
        }
        .mktoField {
          width: 100%!important;
        }
      }
    }
  }
}

/* make forms 1 col on mobile devices */
@media all and (max-width:650px) {
  .marketo-form .mktoForm,
  .form--1-col .mktoForm,
  .form--2-col .mktoForm,
  .form--3-col .mktoForm {
    &.mktoHasWidth.mktoLayoutLeft {
      width: 100% !important;
    }
    input {
      &[type="text"],
      &[type="url"],
      &[type="email"],
      &[type="tel"],
      &[type="number"],
      &[type="date"] {
        width: 100% !important;
      }
    }
    textarea.mktoField,
    select.mktoField {
      width: 100% !important;
    }
    .mktoFormRow {
      .mktoFormCol {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 1em!important;
      }
      .mktoOffset {
        display: none!important;
      }
      .mktoFieldWrap {
        float: none;
        .mktoLabel.mktoHasWidth {
          width: 100%!important;
        }
        .mktoGutter.mktoHasWidth {
          display: none !important;
        }
      }
    }
    .mktoButtonRow,
    .mktoTemplateBox {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      .mktoButtonWrap {
        margin: 0 auto !important;
        button.mktoButton {
          width: 100%;
          max-width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}


