.cover {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hgroup-230 { height: 230px; }
.hgroup-530 { height: 530px; }
.hgroup-200 { height: 200px; }
.hgroup-300 { height: 300px; }
.hgroup-400 { height: 400px; }
.hgroup-500 { height: 500px; }
.hgroup-600 { height: 600px; }
.hgroup-700 { height: 700px; }
.hgroup-800 { height: 800px; }
.hgroup-1000 { height: 1000px; }
.hgroup-1200 { height: 1200px; }

@media #{$xsmall-and-up} {
	.hgroup-s230 { height: 230px; }
	.hgroup-s530 { height: 530px; }
	.hgroup-s200 { height: 200px; }
	.hgroup-s300 { height: 300px; }
	.hgroup-s400 { height: 400px; }
	.hgroup-s500 { height: 500px; }
	.hgroup-s600 { height: 600px; }
	.hgroup-s700 { height: 700px; }
	.hgroup-s800 { height: 800px; }
	.hgroup-s1000 { height: 1000px; }
	.hgroup-s1200 { height: 1200px; }
}

@media #{$medium-and-up} {
	.hgroup-m230 { height: 230px; }
	.hgroup-m530 { height: 530px; }
	.hgroup-m200 { height: 200px; }
	.hgroup-m300 { height: 300px; }
	.hgroup-m400 { height: 400px; }
	.hgroup-m500 { height: 500px; }
	.hgroup-m600 { height: 600px; }
	.hgroup-m700 { height: 700px; }
	.hgroup-m800 { height: 800px; }
	.hgroup-m1000 { height: 1000px; }
	.hgroup-m1200 { height: 1200px; }
}

@media #{$large-and-up} {
	.hgroup-l230 { height: 230px; }
	.hgroup-l530 { height: 530px; }
	.hgroup-l200 { height: 200px; }
	.hgroup-l300 { height: 300px; }
	.hgroup-l400 { height: 400px; }
	.hgroup-l500 { height: 500px; }
	.hgroup-l600 { height: 600px; }
	.hgroup-l700 { height: 700px; }
	.hgroup-l800 { height: 800px; }
	.hgroup-l1000 { height: 1000px; }
	.hgroup-l1200 { height: 1200px; }
}

/* hgroup-auto */
.hgroup-auto { 
	height: auto;
	padding-top: 3em;
	padding-bottom: 3em;
	.valign-middle {
		@include valign-middle(0)
	}
}
@media #{$small-and-down} {
	.hgroup-sauto { 
		height: auto;
		padding-top: 3em;
		padding-bottom: 3em;
		.valign-middle {
			@include valign-middle(0)
		}
	}
}
@media #{$medium-only} {
	.hgroup-mauto { 
		height: auto;
		padding-top: 3em;
		padding-bottom: 3em;
		.valign-middle {
			@include valign-middle(0)
		}
	}
}
@media #{$large-and-up} {
	.hgroup-lauto { 
		height: auto;
		padding-top: 3em;
		padding-bottom: 3em;
		.valign-middle {
			@include valign-middle(0)
		}
	}
}

[class^='hgroup-'],
[class*=' hgroup-']{
	h1 {
		margin-top: 0;
	}
}



