.valign-middle-10 { @include valign-middle(10%)};
.valign-middle-20 {@include valign-middle(20%)};
.valign-middle-30 {@include valign-middle(30%)};
.valign-middle-40 {@include valign-middle(40%)};
.valign-middle {@include valign-middle(50%)};