//
// Colors, etc.
//

// Base color variables.
$white:        #FFFFFF;
$black:        #1d2021;

//reds
$red:            #df3018;  //Mozu red
$darker-red:     darken($red, 5%); //primary action button hover
$darkest-red:    darken($red, 10%);  //primary action button active

//greys
$darker-grey:    #3f4243;
$dark-grey:      #727779;
$grey:           #bbbebf;
$light-grey:     #e8e8e8;
$lighter-grey:   #eef0f0;


// Deprecated variables and alternate spellings
$grey-darker:            $darker-grey;
$grey-dark:              $dark-grey;
$grey-light:             $light-grey;
$grey-lighter:           $lighter-grey;

$gray-darker:            $darker-grey; // #222
$gray-dark:              $dark-grey; // #333
$gray-light:             $light-grey; // #999
$gray-lighter:           $lighter-grey; // #eee

$darker-gray:            $darker-grey;
$dark-gray:              $dark-grey;
$light-gray:             $light-grey;
$lighter-gray:           $lighter-grey;
//$light-gray:             $lighter-grey;  //website background color

$gray:                   $grey; // #555
$medium-grey:            $grey;
$medium-gray:            $grey;

$slate:                  $darker-grey;
$off-white:              $lighter-grey;

$brand-primary:          $red !default;



// $black: #1d2021;
// $darker-gray: #333;
// $dark-gray:      #727779;
//$gray:           #bbbebf;
//$darker-grey: $darker-gray;
//$dark-grey: $dark-gray;

//$grey: $gray;
// $light-grey: $light-gray;
// $lighter-grey: $lighter-gray;
