//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------
/*doc
---
title: Buttons
name: buttons
category: basics
---

Button styles can be applied to any element. Typically you'll want
to use either a `<button>` or an `<a>` element.

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as
submitting a form or triggering some javascript event, then use a
`<button>` element.

### Dark on light
```html_example
<button class='btn btn-red'>Button text</button>
<button class='btn btn-black'>Button text</button>
<button class='btn btn-grey'>Button text</button>
<button class='btn btn-red-outline'>Button text</button>
<button class='btn btn-black-outline'>Button text</button>
<button class='btn btn-grey-outline'>Button text</button>
<button class='btn btn-link'>Button text</button>
```

### Light on dark
```html_example
<div class="well bg-grey">
  <button class='btn btn-white'>Button text</button>
  <button class='btn btn-white-outline'>Button text</button>
</div>
```
*/

.btn, %btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none; // IE10+
          user-select: none;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;

  &,
  &:active,
  &.active {
    &:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}


// Alternate buttons
// --------------------------------------------------

// Danger and error appear as red
.btn-danger,
.btn-red,
%btn-red {
  @include button-variant($white, $red, transparent);
}
.btn-white {
  @include button-variant($red, $white, transparent);
}
.btn-black {
  @include button-variant($white, $black, transparent);
}
.btn-grey {
  @include button-variant(#727779, #bbbebf, transparent);
}
.btn-red-outline {
  @include outline-button-variant($red, $red);
}
.btn-white-outline {
  @include outline-button-variant($white, $white);
}
.btn-black-outline {
  @include outline-button-variant($black, $black);
}
.btn-grey-outline {
  @include outline-button-variant(#727779, #727779);
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------
/*doc
---
parent: buttons
name: buttonSizes
title: Button Sizes
---
There are three 4 sizes for buttons: Large, medium (default)
and extra small. Simply apply the size modifier class for the desired size.
There is also an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.

Button                                                            | Modifier class            |  Source code
----------------------------------------------------------------- | ------------------------- | -------------------------
<button class="btn btn-red btn-lg">Large</button>                 | `.btn-lg`                 | `<button class="btn btn-red btn-lg">Large</button> `
<button class="btn btn-red">Default</button>                      | *none*                    | `<button class="btn btn-red">Default</button>`
<button class="btn btn-red btn-sm">Small</button>                 | `.btn-sm`                 | `<button class="btn btn-red btn-sm">Small</button>`
<button class="btn btn-red btn-xs">Extra Small</button>           | `.btn-xs`                 | `<button class="btn btn-red btn-xs">Extra Small</button>`
<button class="btn btn-red btn-block">Full width</button>         | `.btn-block`              | `<button class="btn btn-red btn-block">Full width</button>`
*/

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn-sm, %btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-base, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-base, $line-height-small, $border-radius-small);
}


// Block button
// --------------------------------------------------
/* doc
```html_example
<div class='btn btn-red btn-block'>Button text</div>

```
*/
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
