//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

/*doc
---
title: Clears & Floats
name: clearsandfloats
category: utilities
---

Class                                | Attribute
------------------------------------ | -----------------
`.clearfix`                          | clears floats; useful for breaking columns at certain viewports, i.e. <div class="clearfix visible-xs-block"></div>
`.center-block`                      | display: block; margin-left: auto; margin-right: auto;
`.pull-right`                        | float:right
`.pull-left`                         | float:left

*/
.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

// Display Settings
// -------------------------
/*doc
---
title: Display & Position
name: displayandposition
category: utilities
---

### Display

Class                                | Attribute
------------------------------------ | -----------------
`.display-inline` or `.di`           | display:inline
`.display-inlineblock` or `.dib`     | display:inline-block
`.display-block` or `.db`            | display:block

### Position

Class                                | Attribute
------------------------------------ | -----------------
`.affix`                             | position: fixed
`.pos-r`                             | position: relative
`.pos-s`                             | position: static
`.pos-a`                             | position: absolute

*/
.di,
.display-inline {
  display: inline!important;
}
.dib,
.display-inlineblock {
  display: inline-block!important;
}
.db,
.display-block {
  display: block!important;
}

// For Affix plugin
// -------------------------
.affix {
  position: fixed!important;
}

// Position Settings
// -------------------------
.pos-r {
  position: relative!important;
}
.pos-s {
  position: static!important;
}
.pos-a {
  position: absolute!important;
}

/*******************
Absolute positioning
*******************/
/* absolute inside */
.abs-left-inside {position: absolute; left: 0;}
.abs-right-inside {position: absolute; right: 0;}
.abs-top-inside {position: absolute; top: 0;}
.abs-bottom-inside {position: absolute; bottom: 0;}

.abs-middle-top-inside { position: absolute; top: 0; left: 50%; }
.abs-middle-bottom-inside { position: absolute; bottom: 0; left: 50%; }
.abs-left-top-inside { position: absolute; top: 0; left: 0; }
.abs-left-middle-inside { position: absolute; top: 50%; left: 0; }
.abs-left-bottom-inside { position: absolute; bottom: 0; left: 0; }
.abs-right-top-inside { position: absolute; top: 0; right: 0; }
.abs-right-middle-inside { position: absolute; top: 50%; right: 0; }
.abs-right-bottom-inside { position: absolute; bottom: 0; right: 0; }

/* absolute outside */
.abs-left-outside {position: absolute; right: 100%;}
.abs-right-outside {position: absolute; left: 100%;}
.abs-top-outside {position: absolute; bottom: 100%;}
.abs-bottom-outside {position: absolute; top: 100%;}

.abs-middle-top-outside { position: absolute; bottom: 100%; left: 50%; }
.abs-middle-bottom-outside { position: absolute; top: 100%; left: 50%; }
.abs-left-top-outside { position: absolute; bottom:100%; right: 100%; }
.abs-left-middle-outside { position: absolute; top: 50%; right: 100%; }
.abs-left-bottom-outside { position: absolute; top: 100%; right: 100%; }
.abs-right-top-outside { position: absolute; bottom: 100%; left:100%; }
.abs-right-middle-outside { position: absolute; top: 50%; left:100%; }
.abs-right-bottom-outside { position: absolute; top: 100%; left:100%; }


// Margin
// -------------------------
/*doc
---
title: Margin
name: margin
category: utilities
---

### Construction

Side                                 | Class
------------------------------------ | -----------------
all sides                            | `.margin-[0,s,m,l,xl]`
one side                             | `.margin-[top,right,bottom,left]-[0,s,m,l,xl]`
negative margin on all sides         | `.neg-margin-[s,m,l,xl]`
negative margin on one side          | `.neg-margin-[top,right,bottom,left]-[s,m,l,xl]`

### Full list

#### Positive margin
Side                | None                 | Small (1em)               | Medium (2em)              | Large (3em)               | XL (5em)
------------------- | -------------------- | -------------------- | -------------------- | -------------------- | --------------------
all sides           | `.margin-0`          | `.margin-s`          | `.margin-m`          | `.margin-l`          | `.margin-xl`
top                 | `.margin-top-0`      | `.margin-top-s`      | `.margin-top-m`      | `.margin-top-l`      | `.margin-top-xl`
right               | `.margin-right-0`    | `.margin-right-s`    | `.margin-right-m`    | `.margin-right-l`    | `.margin-right-xl`
bottom              | `.margin-bottom-0`   | `.margin-bottom-s`   | `.margin-bottom-m`   | `.margin-bottom-l`   | `.margin-bottom-xl`
left                | `.margin-left-0`     | `.margin-left-s`     | `.margin-left-m`     | `.margin-left-l`     | `.margin-left-xl`

#### Negative margin
Side                | None                 | Small (-1em)               | Medium (-2em)              | Large (-3em)               | XL (-5em)
------------------- | -------------------- | -------------------- | -------------------- | -------------------- | --------------------
all sides           | `.margin-0`          | `.neg-margin-s`          | `.neg-margin-m`          | `.neg-margin-l`          | `.neg-margin-xl`
top                 | `.margin-top-0`      | `.neg-margin-top-s`      | `.neg-margin-top-m`      | `.neg-margin-top-l`      | `.neg-margin-top-xl`
right               | `.margin-right-0`    | `.neg-margin-right-s`    | `.neg-margin-right-m`    | `.neg-margin-right-l`    | `.neg-margin-right-xl`
bottom              | `.margin-bottom-0`   | `.neg-margin-bottom-s`   | `.neg-margin-bottom-m`   | `.neg-margin-bottom-l`   | `.neg-margin-bottom-xl`
left                | `.margin-left-0`     | `.neg-margin-left-s`     | `.neg-margin-left-m`     | `.neg-margin-left-l`     | `.neg-margin-left-xl`

### Examples

#### Bottom margin
```html_example
<div class="row">
  <div class="col-sm-2">
    <div class="bg-grey margin-bottom-0">margin-bottom-0</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey margin-bottom-s">margin-bottom-s</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey margin-bottom-m">margin-bottom-m</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey margin-bottom-l">margin-bottom-l</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey margin-bottom-xl">margin-bottom-xl</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
</div>
```

#### Negative bottom margin
```html_example
<div class="row">
  <div class="col-sm-2">
    <div class="bg-grey neg-margin-bottom-0">neg-margin-bottom-0</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey neg-margin-bottom-s">neg-margin-bottom-s</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey neg-margin-bottom-m">neg-margin-bottom-m</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey neg-margin-bottom-l">neg-margin-bottom-l</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey neg-margin-bottom-xl">neg-margin-bottom-xl</div>
    <div class="bg-light-grey">&nbsp;</div>
  </div>
</div>
```
*/

/*doc
---
title: Padding
name: padding
category: utilities
---

### Construction

Side                                 | Class
------------------------------------ | -----------------
all sides                            | `.padding-[0,s,m,l,xl]`
one side                             | `.padding-[top,right,bottom,left]-[0,s,m,l,xl]`

### Full list

Side                | None                  | Small (1em)           | Medium (2em)          | Large (3em)           | XL (5em)
------------------- | --------------------- | --------------------- | --------------------- | --------------------- | --------------------
all sides           | `.padding-0`          | `.padding-s`          | `.padding-m`          | `.padding-l`          | `.padding-xl`
top                 | `.padding-top-0`      | `.padding-top-s`      | `.padding-top-m`      | `.padding-top-l`      | `.padding-top-xl`
right               | `.padding-right-0`    | `.padding-right-s`    | `.padding-right-m`    | `.padding-right-l`    | `.padding-right-xl`
bottom              | `.padding-bottom-0`   | `.padding-bottom-s`   | `.padding-bottom-m`   | `.padding-bottom-l`   | `.padding-bottom-xl`
left                | `.padding-left-0`     | `.padding-left-s`     | `.padding-left-m`     | `.padding-left-l`     | `.padding-left-xl`

### Example

```html_example
<div class="row">
  <div class="col-sm-2">
    <div class="bg-grey padding-bottom-0">padding-bottom-0</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey padding-bottom-s">padding-bottom-s</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey padding-bottom-m">padding-bottom-m</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey padding-bottom-l">padding-bottom-l</div>
  </div>
  <div class="col-sm-2">
    <div class="bg-grey padding-bottom-xl">padding-bottom-xl</div>
  </div>
</div>
```

*/
.margin-0 {margin: 0!important;}
.margin-s {margin: 1em!important;}
.margin-m {margin: 2em!important;}
.margin-l {margin: 3em!important;}
.margin-xl {margin: 5em!important;}
.margin-bottom-0 {margin-bottom: 0!important;}
.margin-bottom-s {margin-bottom: 1em!important;}
.margin-bottom-m {margin-bottom: 2em!important;}
.margin-bottom-l {margin-bottom: 3em!important;}
.margin-bottom-xl {margin-bottom: 5em!important;}
.margin-top-0 {margin-top: 0!important;}
.margin-top-s {margin-top: 1em!important;}
.margin-top-m {margin-top: 2em!important;}
.margin-top-l {margin-top: 3em!important;}
.margin-top-xl {margin-top: 5em!important;}
.margin-left-0 {margin-left: 0!important;}
.margin-left-s {margin-left: 1em!important;}
.margin-left-m {margin-left: 2em!important;}
.margin-left-l {margin-left: 3em!important;}
.margin-left-xl {margin-left: 5em!important;}
.margin-right-0 {margin-right: 0!important;}
.margin-right-s {margin-right: 1em!important;}
.margin-right-m {margin-right: 2em!important;}
.margin-right-l {margin-right: 3em!important;}
.margin-right-xl {margin-right: 5em!important;}

.neg-margin-s {margin: -1em!important;}
.neg-margin-m {margin: -2em!important;}
.neg-margin-l {margin: -3em!important;}
.neg-margin-xl {margin: -5em!important;}
.neg-margin-bottom-s {margin-bottom: -1em!important;}
.neg-margin-bottom-m {margin-bottom: -2em!important;}
.neg-margin-bottom-l {margin-bottom: -3em!important;}
.neg-margin-bottom-xl {margin-bottom: -5em!important;}
.neg-margin-top-s {margin-top: -1em!important;}
.neg-margin-top-m {margin-top: -2em!important;}
.neg-margin-top-l {margin-top: -3em!important;}
.neg-margin-top-xl {margin-top: -5em!important;}
.neg-margin-left-s {margin-left: -1em!important;}
.neg-margin-left-m {margin-left: -2em!important;}
.neg-margin-left-l {margin-left: -3em!important;}
.neg-margin-left-xl {margin-left: -5em!important;}
.neg-margin-right-s {margin-right: -1em!important;}
.neg-margin-right-m {margin-right: -2em!important;}
.neg-margin-right-l {margin-right: -3em!important;}
.neg-margin-right-xl {margin-right: -5em!important;}


// Padding
// -------------------------
.padding-0 {padding: 0!important;}
.padding-s {padding: 1em!important;}
.padding-m {padding: 2em!important;}
.padding-l {padding: 3em!important;}
.padding-xl {padding: 5em!important;}
.padding-bottom-0 {padding-bottom: 0!important;}
.padding-bottom-s {padding-bottom: 1em!important;}
.padding-bottom-m {padding-bottom: 2em!important;}
.padding-bottom-l {padding-bottom: 3em!important;}
.padding-bottom-xl {padding-bottom: 5em!important;}
.padding-top-0 {padding-top: 0!important;}
.padding-top-s {padding-top: 1em!important;}
.padding-top-m {padding-top: 2em!important;}
.padding-top-l {padding-top: 3em!important;}
.padding-top-xl {padding-top: 5em!important;}
.padding-left-0 {padding-left: 0!important;}
.padding-left-s {padding-left: 1em!important;}
.padding-left-m {padding-left: 2em!important;}
.padding-left-l {padding-left: 3em!important;}
.padding-left-xl {padding-left: 5em!important;}
.padding-right-0 {padding-right: 0!important;}
.padding-right-s {padding-right: 1em!important;}
.padding-right-m {padding-right: 2em!important;}
.padding-right-l {padding-right: 3em!important;}
.padding-right-xl {padding-right: 5em!important;}
