//
// Pager pagination
// --------------------------------------------------
/*doc
---
title: Pager
name: pager
parent: pagination
---

A simpler way to paginate.

```html_example
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
```
*/

.pager {
  padding-left: 0;
  margin: $line-height-computed 0;
  list-style: none;
  text-align: center;
  @include clearfix();
  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: $white;
      border: 1px solid $dark-grey;
      border-radius: $pager-border-radius;
      color: $dark-grey;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: $white;
      border: 1px solid $red;
      color: $red;
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $light-grey;
      background-color: $white;
      cursor: not-allowed;
    }
  }

}
