//
// Wells
// --------------------------------------------------
/*doc
---
title: Wells
name: wells
category: components
---

Gives content an inset effect.

### Default

```html_example
<div class="well">
  Lassie, Timmy fell down the well!
</div>
```

### Large

```html_example
<div class="well well-lg">
  Lassie, Timmy fell down the well!
</div>
```

### Small

```html_example
<div class="well well-sm">
  Lassie, Timmy fell down the well!
</div>
```
*/

// Base class
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  //border: 1px solid $light-grey;
  @include box-shadow(none);
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-lg {
  padding: 24px;
}
.well-sm {
  padding: 9px;
}
